<div class="container">
    <div class="page-header">
        <h1 id="input-groups"><%-pageTitle %></h1>
    </div>
    <div>
        <form method="POST" action="<%-formActionUrl %>">
            <% for(var i in itemPrototype){ %>
            <%  if(itemPrototype[i].inputType == 'text'){ %>
            <div class="form-group">
                <label for="<%-'field['+i+']' %>"><%-itemPrototype[i].name %></label>
                <input type="text" class="form-control" id="<%-'field['+i+']' %>" name="<%-'field['+i+']' %>" />
            </div>
            <%  }else if(itemPrototype[i].inputType == 'html'){ %>
            <div class="form-group">
                <label for="<%-'field['+i+']' %>"><%-itemPrototype[i].name %></label>
                <textarea style="display:none;" id="<%-'field['+i+']' %>" name="<%-'field['+i+']' %>"></textarea>
            </div>
            <script src="/javascripts/cms/libraries/ckeditor/ckeditor.js"></script>
            <script>
                (function(){
                    var editor = CKEDITOR.instances['<%-'field['+i+']' %>'];
                    if(editor){ editor.destroy(true); }
                    CKEDITOR.replace('<%-'field['+i+']' %>',{
                        filebrowserUploadUrl  :'<%-kw.url.getUrlByPathInfo('cms/process/ckeditor.htmlEditorFileUpload') %>',
                        filebrowserImageUploadUrl : '<%-kw.url.getUrlByPathInfo('cms/process/ckeditor.htmlEditorFileUpload') %>',
                        bodyClass : 'container',
                        contentsCss : [
                            '/stylesheets/web/base.min.css',
                            '/stylesheets/web/bootstrap.min.css',
                            '/stylesheets/web/jquery.ui.all.css',
                            '/stylesheets/web/style.css'
                        ],
                        language: 'zh-cn',
                        allowedContent : true
                    });
                })();
            </script>
            <%  } %>
            <% } %>
            <!--<div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out
                </label>
            </div>-->
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
